:root {
    // Colors
    --offwhite-color: #F4F1F8; // Lavender
    --background-color: #242424;
    --text-color: var(--offwhite-color);

    --accent-color: #A8DF8E;
    --warning-bg: #ffe69c; // Bootstrap yellow 200
    --warning-fg: #332701; // Bootstrap yellow 900
    --info-bg: #9ec5fe; // Bootrstrap blue 200
    --info-fg: #031633; // Bootrstrap blue 900
}
