{% extends "base.html" %}

{% block home_head %}
{# TODO: Use a bundler later instead of an importmap #}
<script type="importmap">
    {
        "imports": {
            "three": "{{ url_for(
                'static',
                path='node_modules/three/build/three.module.min.js')
            }}",
            "OrbitControls": "{{ url_for(
                'static',
                path='node_modules/three/examples/jsm/controls/OrbitControls.js')
            }}",
            "ImprovedNoise": "{{ url_for(
                'static',
                path='node_modules/three/examples/jsm/math/ImprovedNoise.js')
            }}"
        }
    }
</script>
{% endblock %}

{% block home %}
<noscript>
    <div class="flex modal info-modal">
        <i class="ti ti-info-circle-filled"></i>
        <div id="notification-content">
            <span id="overflow-container">
                {# Do not put normal text in <p> tags alongside links. #}
                This page functions better with JavaScript enabled!
            </div>
        </div>
    </div>
</noscript>

<div id="webgl-disabled-notice" class="flex modal warning-modal hidden">
    <i class="ti ti-alert-triangle-filled"></i>
    <div id="notification-content">
        <span id="overflow-container">
            {# Do not put normal text in <p> tags alongside links. #}
            Psst... This websites looks way better with
            <a href="https://get.webgl.org/get-a-webgl-implementation/"
                target="_blank"
                rel="noreferrer noopener" {# for privacy #}
            >WebGL</a>
            enabled 🤫
        </div>
    </div>
</div>

<header class="flex">
    <div id="header-title" class="flex">
        <p>welcome to</p>
        <h1>&nbsp;yonei.dev</h1>
    </div>
    {# Add a randomly generated daily message here #}
    <p id="header-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</header>

<div id="scroll-wrapper">
    <div id="scroll-title">Scroll</div>
    <div id="scroll-bar"></div>
</div>

<script type="module" src="{{ url_for('static', path='perlinterrain.js') }}"></script>
{% endblock %}
