{% extends "base.html" %}

{% block home_head %}
{# TODO: Use a bundler later instead of an importmap #}
<script type="importmap">
    {
        "imports": {
            "three": "{{ url_for(
                'static',
                path='node_modules/three/build/three.module.min.js')
            }}",
            "OrbitControls": "{{ url_for(
                'static',
                path='node_modules/three/examples/jsm/controls/OrbitControls.js')
            }}",
            "ImprovedNoise": "{{ url_for(
                'static',
                path='node_modules/three/examples/jsm/math/ImprovedNoise.js')
            }}",
            "stats.module": "{{ url_for(
                'static',
                path='node_modules/three/examples/jsm/libs/stats.module.js')
            }}"
        }
    }
</script>
{% endblock %}

{% block home %}
<header class="flex">
    <div id="header-title" class="flex">
        <p>welcome to</p>
        <h1>&nbsp;yonei.dev</h1>
    </div>
    {# Add a randomly generated daily message here #}
    <p id="header-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</header>

<script type="module" src="{{ url_for('static', path='perlinterrain.js') }}"></script>
{% endblock %}
