{% extends "base.html" %}

{% block home_head %}
{# TODO: Use a bundler later instead of an importmap #}
<script type="importmap">
    {
        "imports": {
            "three": "{{ url_for(
                'static',
                path='node_modules/three/build/three.module.min.js')
            }}",
            "OrbitControls": "{{ url_for(
                'static',
                path='node_modules/three/examples/jsm/controls/OrbitControls.js')
            }}",
            "ImprovedNoise": "{{ url_for(
                'static',
                path='node_modules/three/examples/jsm/math/ImprovedNoise.js')
            }}"
        }
    }
</script>
{% endblock %}

{% block home %}
<noscript>
    <div class="modal info-modal">
        <i class="ti ti-info-circle-filled"></i>
        <div id="overflow-container">
            <span>
                This page functions better with JavaScript enabled!
            </span>
        </div>
    </div>
</noscript>

<div id="webgl-disabled-notice" class="modal warning-modal hidden">
    <i class="ti ti-alert-triangle-filled"></i>
    <div id="overflow-container">
        <span>
            Psst... This websites looks way better with
            <a href="https://get.webgl.org/get-a-webgl-implementation/"
                target="_blank"
                rel="noreferrer noopener" {# for privacy #}
            >WebGL</a>
            enabled 🤫
        </span>
    </div>
</div>

<div class="section-wrapper">
    <section id="home">
        <header>
            <span id="header-title">
                <p>welcome to</p>
                <h1>&nbsp;yonei.dev</h1>
            </span>
            {# TODO: Add a randomly generated daily message here #}
            <p id="header-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </header>
        <div id="scroll-hint">
            <a href="#about">Scroll</a>
            <div id="scroll-hint-bar"></div>
        </div>
    </section>
    <section id="about">
        {# TODO #}
    </section>
</div>

<script type="module" src="{{ url_for('static', path='perlinterrain.js') }}"></script>
{% endblock %}
