.section-wrapper {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    &, section {
        height: 100vh;
        width: 100vw;
    }
    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: center;
    }
}
