.section-wrapper {
    scroll-behavior: smooth;
    overflow-y: scroll;

    &, section {
        height: 100vh;
        width: 100vw;
    }
    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

section#about {
    overflow: hidden;
    height: 125vh;

    .fadeout-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25%;
        background: linear-gradient(
            0deg,
            var(--background-color) 0%,
            var(--background-color) 50%,
            rgba(0,0,0,0) 100%
        );
    }

    svg.section-separator {
        position: absolute;
        bottom: 0;
        fill: var(--projects-section-bg);
    }
}

section#footer {
    background-color: var(--projects-section-bg);
}
