.section-wrapper {
    scroll-behavior: smooth;
    overflow-y: scroll;

    &, section {
        height: 100vh;
        width: 100vw;
    }
    section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

section#about {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 33%;
        opacity: 0.05;
        background: radial-gradient(
            50% 50% at 50% 0,
            rgba(#fff, 0.5) 0,
            rgba(#fff, 0) 100%
        );
    }
}
