{#def skills #}

<div class="about-card">
    <div class="marquee">
        <div>
        {% for _ in range(2) %}
            {% for skill in skills %}
            <h1 class="marquee-tag">{{ skill }}</h1>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    <div class="card-content">
        {# TODO #}
    </div>
</div>
