{% macro modal(type='info', is_hidden=false, additional_context="") -%}
    {% set icon_mapping = {
        'info': 'ti-info-circle-filled',
        'warning': 'ti-alert-triangle-filled',
        'danger': 'ti-alert-octagon-filled'
    } %}

    <div id="{{ additional_context }}"
         class="modal {{ type ~ '-modal' }} {{ 'hidden' if is_hidden }}"
    >
        {% if icon_mapping.get(type) %}
            <i class="ti {{ icon_mapping[type] }}"></i>
        {% endif %}
        <div id="overflow-container">
            <span>{{ caller() }}</span>
        </div>
    </div>
{%- endmacro %}
