---
import MainLayout from "../layouts/MainLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import "minireset.css/minireset.min.css";
---

<MainLayout title="Home">
	<SectionLayout>
		<section id="home"></section>
		<section id="about"></section>
	</SectionLayout>
</MainLayout>
