---
import MainLayout from "../layouts/MainLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import HeroHeader from "../components/HeroHeader.astro";
import SocialButtons from "../components/SocialButtons.astro";
import BentoGrid from "../components/BentoGrid.astro";
import UnderConstruction from "../components/UnderConstruction.astro";
import "minireset.css/minireset.min.css";
---

<MainLayout title="Home">
	<SectionLayout>
		<section id="home">
            <UnderConstruction />
            <div class="home-flex-wrapper">
                <HeroHeader />
                <SocialButtons />
                <BentoGrid />
            </div>
		</section>
		<section id="about"></section>
	</SectionLayout>
</MainLayout>

<style>
	@font-face {
		font-family: "Rubik";
		src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
		font-display: swap;
	}

	:root {
        /* Other cool colors: #233531 #F3EEE8 */

		--offwhite-color: #F9F4EA;
		--accent-color: #BBD38B;
        --accent-color-dark: #30422E;
        --secondary-color: #8BBBD3;  /* Triadic to accent */
		--background-color: #1F1F21;
		--background-color-alt: #3A393B;

		--text-color: var(--offwhite-color);
	}
</style>
