---
import MainLayout from "../layouts/MainLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import HeroHeader from "../components/HeroHeader.astro";
import SocialButtons from "../components/SocialButtons.astro";
import "minireset.css/minireset.min.css";
---

<MainLayout title="Home">
	<SectionLayout>
		<section id="home">
			<HeroHeader />
            <SocialButtons />
		</section>
		<section id="about"></section>
	</SectionLayout>
</MainLayout>

<style>
	@font-face {
		font-family: "Rubik";
		src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
		font-display: swap;
	}

	:root {
		--accent-color: rgb(168, 223, 142);
		--offwhite-color: rgb(244, 241, 248);
		--background-color: rgb(10, 10, 10);
		--text-color: var(--offwhite-color);
	}
</style>
