---
import socials from "../socials.json";
import InfoIcon from "./InfoIcon.astro";
import PopoverTooltip from "./PopoverTooltip.astro";
import Collapsable from "./Collapsable.astro";

// TODO: Maybe try out importing files directly with astro glob
const badges_path = "public/web_badges/";
---

<div class="people-badges">
    <header>
        <p>Web badges</p>
        <InfoIcon>
            <PopoverTooltip>
                Fun retro web badges found around the internet, along with badges
                of cool people and friends of mine. <br>
                <Collapsable title="Submissions & Content">
                    Please contact me if you'd like
                    your badge added, if any of those people are secretly awful
                    or the websites contain hateful content.
                </Collapsable>
            </PopoverTooltip>
        </InfoIcon>
    </header>
    <div class="marquee-wrapper">
        <div class="badge-marquee">
            <ul>
                {socials.web_badges.map(item => <li>
                    <a href={item.src} target="_blank">
                        <img src={item.path.startsWith("http") ? item.path : badges_path + item.path}
                             alt={item.name} />
                    </a>
                </li>)}
            </ul>
            <!-- Mirror of the above content -->
            <ul aria-hidden="true">
                {socials.web_badges.map(item => <li>
                    <a href={item.src} target="_blank">
                        <img src={item.path.startsWith("http") ? item.path : badges_path + item.path}
                             alt={item.name} />
                    </a>
                </li>)}
            </ul>
        </div>
    </div>
</div>

<style lang="scss">
    .people-badges {
        --badge-spacing: 10px;
        $badge-height: 31px;
        $badge-width: 88px;

        display: flex;
        flex-direction: column;
        padding: 5px 0;
        background-color: #323235;
        border: 1px solid #454549;
        border-radius: 0.75rem;

        header {
            display: flex;
            align-items: center;
            gap: 0.33rem;
            margin: 0 5px;
            margin-bottom: 15px;
            width: fit-content;
            font-size: 0.9rem;
            padding: 5px 8px;
            border-radius: 0.5rem;
            background-color: #454549;
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);

            p {
                margin-top: 1px;
            }

            .info-icon {
                --hover-color: var(--secondary-color);
                width: 0.85rem;
                height: 0.85rem;
                margin-right: 2px;
                padding: 3px;

                :global(b) { font-weight: 500 }

                .popover-tooltip {
                    width: 200px;
                    font-size: 0.85rem;
                    bottom: 160%;
                    color: var(--background-color);
                    padding: 5px;
                    display: flex;

                    :global(.lbl-toggle) {
                        margin-top: 5px;
                        color: var(--offwhite-color);
                    }
                    :global(.collapsible-content) {
                        color: var(--offwhite-color);
                    }
                }

                &:hover {
                    background-color: lightgreen;  // temporary

                    .popover-tooltip {
                        opacity: 1;
                        visibility: visible;
                        // Delay for opacity just on hover for a suttle effect
                        transition-delay: 400ms;
                        transition-property: opacity;
                    }
                }
            }
        }

        /* NOTE: Used to properly flex with position absolute of it's child */
        .marquee-wrapper {
            display: flex;
            position: relative;
            overflow: hidden;
            margin-bottom: 8px;
            height: $badge-height;

            /* Edge fade-out's */
            --mask: linear-gradient(to right,
                rgba(0,0,0,0) 0%,
                rgba(0,0,0,1) 8%,
                rgba(0,0,0,1) 92%,
                rgba(0,0,0,0) 100%
            );
            -webkit-mask: var(--mask);
            mask: var(--mask);
        }

        .badge-marquee {
            position: absolute;
            display: flex;
            user-select: none;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-around;
                animation: scroll 20s linear infinite;

                li {
                    display: flex;
                    /* NOTE: Pixel padding bcuz flex gap doesnt work correctly */
                    margin-left: var(--badge-spacing);

                    a {
                        width: $badge-width;
                        height: $badge-height;

                        &:hover {
                            cursor: pointer;
                            filter: brightness(1.15);
                        }
                    }
                }
            }
        }
    }

    @keyframes scroll {
        from { transform: translateX(var(--badge-spacing)) }
        to { transform: translateX(calc(-100% + var(--badge-spacing))) }
    }
</style>
