---
import socials from "../socials.json";

// TODO: Maybe try out importing files directly with astro glob
const badges_path = "public/web_badges/";
---

<div class="people-badges">
    <header>Web badges</header>
    <div class="marquee-wrapper">
        <div class="badge-marquee">
            <ul>
                {socials.web_badges.map(item => <li>
                    <a href={item.src}>
                        <img src={item.path.startsWith("http") ? item.path : badges_path + item.path}
                             alt={item.name} />
                    </a>
                </li>)}
            </ul>
            <!-- Mirror of the above content -->
            <ul aria-hidden="true">
                {socials.web_badges.map(item => <li>
                    <a href={item.src}>
                        <img src={item.path.startsWith("http") ? item.path : badges_path + item.path}
                             alt={item.name} />
                    </a>
                </li>)}
            </ul>
        </div>
    </div>
</div>

<style lang="scss">
    .people-badges {
        --badge-spacing: 10px;
        $badge-height: 31px;
        $badge-width: 88px;

        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px 0;
        background-color: #323235;
        border: 1px solid #454549;
        border-radius: 0.75rem;

        header {
            margin-left: 10px;
            margin-bottom: 15px;
            font-size: 1.15rem;
        }

        /* NOTE: Used to properly flex with position absolute of it's child */
        .marquee-wrapper {
            display: flex;
            position: relative;
            overflow: hidden;
            height: $badge-height;

            /* Edge fade-out's */
            --mask: linear-gradient(to right,
                rgba(0,0,0,0) 0%,
                rgba(0,0,0,1) 8%,
                rgba(0,0,0,1) 92%,
                rgba(0,0,0,0) 100%
            );
            -webkit-mask: var(--mask);
            mask: var(--mask);
        }

        .badge-marquee {
            position: absolute;
            display: flex;
            user-select: none;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-around;
                animation: scroll 20s linear infinite;

                li {
                    display: flex;
                    /* NOTE: Pixel padding bcuz flex gap doesnt work correctly */
                    margin-left: var(--badge-spacing);

                    a {
                        width: $badge-width;
                        height: $badge-height;

                        &:hover {
                            cursor: pointer;
                            filter: brightness(1.15);
                        }
                    }
                }
            }
        }
    }

    @keyframes scroll {
        from { transform: translateX(var(--badge-spacing)) }
        to { transform: translateX(calc(-100% + var(--badge-spacing))) }
    }
</style>
