---
import { Icon } from "astro-icon/components";
import HandlePill from "./HandlePill.astro";
import BadgeMarquee from "./BadgeMarquee.astro";
---

<div class="bento-grid">
    <div class="handles">
        <HandlePill />
    </div>
    <div class="vertical-bento">
        <BadgeMarquee />
        <div class="bento-button-container">
            <a class="bento-button">Service status</a>
            <a class="bento-button">Blog <Icon name="blog" size={18} /></a>
        </div>
    </div>
</div>

<style lang="scss">
    .bento-grid {
        display: flex;
        gap: 1rem;

        .handles, .bento-button-container > a {
            background-color: #323235;
            border: 1px solid #454549;
            border-radius: 0.75rem;
        }

        .vertical-bento {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: inherit;
            border: none;
            background-color: transparent;
            font-family: "Rubik";
            color: var(--text-color);
        }

        .bento-button-container {
            display: flex;
            gap: 1rem;
            background-color: transparent;

            .bento-button {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                padding: 10px;
                width: 100%;

                &:last-child {
                    color: var(--background-color);
                    background-color: var(--accent-color);

                    svg {
                        margin-bottom: 1px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
</style>
