---
import { Icon } from "astro-icon/components";
import HandlePill from "./HandlePill.astro";
import BadgeMarquee from "./BadgeMarquee.astro";
import WebringSelector from "./WebringSelector.astro";
---

<div class="bento-grid">
    <div class="bento-section flex-vertical bento-handles">
        <HandlePill />
    </div>
    <div class="badge-section bento-section">
        <BadgeMarquee />
    </div>
    <div class="bento-section webring-section">
        <header><p>Webrings</p></header>
        <div class="webring-wrapper">
            <WebringSelector name="webring one" />
            <WebringSelector name="webring two" />
        </div>
    </div>
    <div class="bento-buttons flex-vertical">
        <a href="https://status.mossycab.in/status/all" target="_blank">
            Service status
        </a>
        <a href="#">Blog <Icon name="blog" size={18} /></a>
    </div>
</div>

<style lang="scss">
    .bento-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        // Limit width until breakpoint hits for vertical layout
        width: 675px;

        .bento-section {
            font-family: "Rubik";
            color: var(--text-color);
            background-color: #323235;
            border: 1px solid #454549;
            border-radius: var(--border-radius);

            &.bento-handles {
                padding: 5px;
                padding-left: 12px;
                justify-content: space-around;
                gap: 0.33rem;
            }
        }

        .bento-handles {
            grid-column: 1;
            grid-row: 1 / span 2;
        }
        .webring-section {
            grid-column: 2;
            grid-row: 2;
        }
        .badge-section {
            grid-column: 2 / span 2;
            grid-row: 1;
        }
        .bento-buttons {
            grid-column: 3;
            grid-row: 2;
        }

        .vertical-bento, .horizontal-bento {
            flex: 1;
            gap: inherit;
            border: none;
            background-color: transparent;
        }

        .horizontal-bento {
            display: flex;
            flex-direction: row;
        }

        .flex-vertical {
            display: flex;
            flex-direction: column;
        }

        .bento-buttons {
            display: flex;
            gap: inherit;
            white-space: nowrap;

            & > a {
                font-family: "Rubik";
                color: var(--text-color);

                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                padding: 7px 12px;
                border-radius: var(--border-radius);
                background-color: var(--background-color-alt);
                width: 100%;
                text-decoration: none;
                color: var(--text-color);
                cursor: pointer;

                &:hover {
                    filter: brightness(1.15);
                }

                &:last-child {
                    color: var(--background-color);
                    background-color: var(--accent-color);

                    svg {
                        margin-bottom: 1px;
                        margin-left: 5px;
                    }
                }
            }
        }

        .webring-section {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 5px;

            .webring-wrapper {
                display: flex;
                flex: 1;
                margin-bottom: 3px;
                justify-content: center;
                align-items: center;
                gap: 0.33rem;
                justify-content: space-evenly;
            }

            header {
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                padding: 5px 8px;
                margin-bottom: 10px;
                width: fit-content;
                border-radius: calc(var(--border-radius) - 5px);
                background-color: #454549;
                box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);

                p {
                    margin-top: 1px;
                }
            }
        }
    }

    @media only screen and (max-width: 1450px) {
        .bento-grid {
            width: 45vw;
        }
    }
    @media only screen and (max-width: 850px) {
        .bento-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: initial;

            .bento-handles {
                grid-column: 1;
                grid-row: 1 / span 2;
            }
            .bento-buttons {
                order: 1;
                grid-column: 2;
                grid-row: 1;
            }
            .webring-section {
                order: 2;
                grid-column: 2;
                grid-row: 2;
            }
            .badge-section {
                grid-column: 1 / span 2;
                grid-row: 3;
            }
        }
        .bento-handles {
            gap: 0.33rem;
            padding-left: 10px !important;
        }
    }

    @media only screen and (max-width: 650px) {
        .bento-grid {
            .webring-section {
                order: 2;
                grid-column: 1 / span 2;
                grid-row: 3;
            }
            .badge-section {
                grid-column: 2;
                grid-row: 2;
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .bento-buttons {
            font-size: 0.9rem;

            svg {
                transform: scale(0.9);
            }
        }
    }
    @media only screen and (max-width: 460px) {
        .bento-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            height: 50vh;

            .bento-handles {
                grid-column: 1 / span 2;
                grid-row: 1;

                :global(.handle-pill-content) {
                    width: 100%;

                    :global(p) {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .webring-section {
                grid-column: 1 / span 2;
                grid-row: 2;
            }
            .badge-section {
                grid-column: 1;
                grid-row: 3;
            }
            .bento-buttons {
                flex-direction: column;
                flex: 1;
                grid-column: 2;
                grid-row: 3;
            }
            .webring-wrapper {
                flex-wrap: wrap;
            }
        }
    }
</style>
