---
import HandlePill from "./HandlePill.astro";
---

<div class="bento-grid">
    <div class="handles">
        <HandlePill />
    </div>
    <div class="vertical-bento">
        <div></div>
        <div></div>
    </div>
</div>

<style lang="scss">
    .bento-grid {
        display: flex;
        height: 40vh;
        gap: 1rem;

        div {
            background-color: #323235;
            border: 1px solid #454549;
            border-radius: 0.75rem;
            width: 100%;
            height: 100%;
        }

        .handles {
            flex-basis: 120%;
        }

        .vertical-bento {
            border: none;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            gap: inherit;
        }
    }
</style>
