---
import "@fontsource/mononoki";
import { Icon } from "astro-icon/components";

import socials from "../socials.json";

// Custom sizes for better optical fit
const icon_sizes = { gpg: 25, email: 26, discord: 28, matrix: 26 }
type IconSizeKey = keyof typeof icon_sizes;
---

{socials.handles.map((item) => (
<div class:list={["handle-pill", "pill-" + item.service.toLowerCase()]}>
    <Icon name={item.service.toLowerCase()}
          size={icon_sizes[item.service.toLowerCase() as IconSizeKey]}
    />
    <div class="handle-pill-content">
        <p>{item.value}</p>
        <button><Icon name="copy" size={16} /></button>
    </div>
</div>
))}

<script>
    document.querySelectorAll(".handle-pill").forEach((e) => {
        e?.querySelector("button")?.addEventListener("click", () => {
            navigator.clipboard.writeText(e.querySelector("p")!.innerHTML)
        });
    });
</script>

<style lang="scss">
    .handle-pill {
        --pill-border-radius: 0.6rem;
        display: flex;
        align-items: center;
        color: var(--text-color);
        font-family: "Mononoki", monospace;
        font-size: 1rem;

        .handle-pill-content {
            display: inherit;
            align-items: inherit;
            justify-content: center;
            background-color: #242424;
            border: 1px dashed #555555;
            border-radius: var(--pill-border-radius);
            padding: 5px;
            margin-left: 10px;

            p {
                padding: 0 5px;
                margin-bottom: 1px;
            }
        }

        button {
            border: none;
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            height: 26px;
            aspect-ratio: 1;
            border-radius: calc(var(--pill-border-radius) - 4px);
            background-color: #454545;
            margin-left: 3px;

            svg { color: var(--offwhite-color) }

            &:hover {
                background-color: #595959;
                cursor: pointer;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
</style>
