---
import "@fontsource/mononoki";
import { Icon } from "astro-icon/components";

import socials from "../socials.json";

// Custom sizes for better optical fit
const icon_sizes = { gpg: 27, email: 28, discord: 30 }
---

{socials.handles.map((item) => (
<div class:list={["handle-pill", "pill-" + item.service.toLowerCase()]}>
    <Icon name={item.service.toLowerCase()} size={icon_sizes[item.service.toLowerCase()]} />
    <div class="handle-pill-content">
        <p>{item.value}</p>
        <button><Icon name="copy" size={18} /></button>
    </div>
</div>
))}

<script>
    document.querySelectorAll(".handle-pill").forEach((e) => {
        e?.querySelector("button")?.addEventListener("click", () => {
            navigator.clipboard.writeText(e.querySelector("p")!.innerHTML)
        });
    });
</script>

<style lang="scss">
    .handle-pill {
        display: flex;
        align-items: center;
        color: var(--text-color);
        margin: 10px;
        margin-left: 13px;
        font-family: "Mononoki", monospace;
        font-size: 1.1rem;

        .handle-pill-content {
            display: inherit;
            align-items: inherit;
            justify-content: center;
            background-color: #242424;
            border: 1px dashed #555555;
            border-radius: 0.6rem;
            padding: 5px;
            margin-left: 10px;

            p { padding: 0 5px }
        }

        &.pill-gpg, &.pill-discord {
            p {
                padding-top: 1px;
            }
        }

        button {
            border: none;
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            height: 28px;
            aspect-ratio: 1;
            border-radius: 0.4rem;
            background-color: #454545;
            margin-left: 3px;

            svg { color: var(--offwhite-color) }

            &:hover {
                background-color: #595959;
                cursor: pointer;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
</style>
