---
const motd = "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
---

<header>
    <h1>Hi there, I'm <b>Yonei</b>!</h1>
    <p class="description">{motd}</p>
</header>

<style lang="scss">
$description-margin: -15px;

header {
    color: var(--text-color);
    font-family: "Rubik", sans-serif;
    // font-size: clamp(2.4rem, 6vw + 1rem, 5rem);
    font-size: clamp(2.2rem, 8vw, 4.75rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    animation: headerSlideDown 3s;
    margin-bottom: 1.5rem;

    h1 b {
        color: var(--accent-color);
        font-weight: 900;

        background: linear-gradient(
            -135deg,
            var(--text-color) 0%,
            var(--text-color) 45%,
            #424242 49%,
            #424242 50%,
            var(--accent-color) 50%,
            var(--accent-color) 100%
        );
        background-size: 250% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: titleGradient 5s;
    }
    .description {
        margin-top: $description-margin;
        opacity: 0.75;
        font-style: italic;
        /* TODO: Fix margin-top scale on small displays */
        font-size: clamp(0.65rem, 2.4vw, 1.5rem);
        animation: descSlideDown 6s;
    }
}

/* TODO: Fine tune this later */
@keyframes titleGradient {
    0% { background-size: 100% 700%; }
    50% { background-size: 100% 700%; }
    100% { background-size: 250% 100%; }
}
@keyframes headerSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }
    100% { transform: translateY(0) }
}
@keyframes descSlideDown {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }
    70% {
        transform: translateY(-15px);
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}
</style>
