---
const { class: className, ...rest } = Astro.props;
---

<span class:list={["popover-tooltip", className]} {...rest}>
    <slot />
</span>

<style lang="scss">
    .popover-tooltip {
        transition-duration: 150ms;
        opacity: 0;
        visibility: hidden;
        background-color: var(--hover-color);
        color: var(--text-color);
        text-align: center;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        padding: 5px 12px;

        position: absolute;
        bottom: 130%;
        z-index: 1;

        // Arrow
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: var(--hover-color) transparent transparent transparent;
        }
    }
</style>
