---
import { Icon } from "astro-icon/components";

const socials = [
    {platform: "bluesky", link: "#", color: "#0285FF"},
    {platform: "twitter", link: "#", color: "#000000"},
    {platform: "iceshrimp", link: "#", color: "#9A92FF"},
    {platform: "telegram", link: "#", color: "#26A5E4"},
    {platform: "matrix", link: "#", color: "#000000"},
    {platform: "liberapay", link: "#", color: "#F6C915"},
    {platform: "instagram", link: "#", color: "#E4405F"},
    {platform: "codeberg", link: "#", color: "#2185D0"},
    {platform: "github", link: "#", color: "#181717"},
    {platform: "gitlab", link: "#", color: "#FC6D26"}
]
---

<div class="socialsContainer">
{socials.map((item) => (
    <form target="_blank">
        <button formaction={item.link}
                class={"icon-" + item.platform}
                style={"--hover-color:" + item.color}
        >
            <Icon name={item.platform} size={30} />
        </button>
    </form>
))}
</div>

<style lang="scss">
    svg { color: black }

    .socialsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        button {
            border-style: none;
            padding: 10px;
            width: 50px;
            aspect-ratio: 1;
            border-radius: 0.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 150ms;

            // TODO: Fix black background colors
            &:hover {
                background-color: var(--hover-color);
            }

        }

        .icon-twitter, .icon-matrix, .icon-github {
            &:hover svg { color: white }
        }

        // Overrides for optimal optical fit
        .icon-twitter {
            padding: 12px;
            padding-top: 13px;
        }
        .icon-bluesky {
            padding-top: 11px;
        }
    }
</style>
