---
import { Icon } from "astro-icon/components";

const socials = [
    {platform: "Bluesky", link: "#", color: "#0285FF"},
    {platform: "Twitter", link: "#", color: "#000000"},
    {platform: "Iceshrimp", link: "#", color: "#9A92FF"},
    {platform: "Telegram", link: "#", color: "#26A5E4"},
    {platform: "Matrix", link: "#", color: "#000000"},
    {platform: "Liberapay", link: "#", color: "#F6C915"},
    {platform: "Instagram", link: "#", color: "#E4405F"},
    {platform: "Codeberg", link: "#", color: "#2185D0"},
    {platform: "GitHub", link: "#", color: "#181717"},
    {platform: "GitLab", link: "#", color: "#FC6D26"}
]
---

<div class="socialsContainer">
{socials.map((item) => (
    <div style={"--hover-color:" + item.color} class={"icon-" + item.platform.toLowerCase()}>
        <a href={item.link} target="_blank">
            <Icon name={item.platform.toLowerCase()} size={30} />
            <span class="tooltip">{item.platform}</span>
        </a>
        {item.platform == "Iceshrimp" && <span class="info-icon">
            <b>i</b>
            <span class="info-tooltip">
                <p>
                    A
                    <a href="https://en.wikipedia.org/wiki/Fediverse" target="_blank">
                        Fediverse
                    </a>
                    instance hosted using the Iceshrimp software
                </p>
                <a class="link-button" target="_blank"
                   href="https://fedidb.org/software/iceshrimp">
                    Find out more&nbsp; <Icon name="external-link" size={15}/>
                </a>
            </span>
        </span>}
    </div>
))}
</div>

<style lang="scss">
    .socialsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        font-family: sans-serif;
        justify-content: center;

        svg { color: black }

        & > div {
            position: relative;
            display: flex;
            width: 50px;
            aspect-ratio: 1;

            & > a {
                display: flex;
                justify-content: center;  // For tooltips
                padding: 10px;
                transition: 150ms;
                background: white;
                border-radius: 0.75rem;

                &:hover {
                    background-color: var(--hover-color);

                    .tooltip {
                        opacity: 1;
                        visibility: visible;
                        // Delay for opacity just on hover for a suttle effect
                        transition-delay: 400ms;
                        transition-property: opacity;
                    }
                }
            }
        }

        // For better contrast between hover-color and text color
        .icon-iceshrimp, .icon-liberapay, .icon-gitlab, .icon-telegram {
            .tooltip, .info-tooltip { color: #000 }
        }

        .icon-twitter, .icon-matrix, .icon-github {
            &:hover svg { color: white }
        }

        // Two classes bcuz we toggle opacity+visibility separately
        .tooltip, .info-tooltip {
            transition-duration: 150ms;
            opacity: 0;
            visibility: hidden;
            background-color: var(--hover-color);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            padding: 5px 12px;

            position: absolute;
            bottom: 130%;
            z-index: 1;

            // Arrow
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: var(--hover-color) transparent transparent transparent;
            }
        }
        .info-tooltip {
            --link-color: #A8D3F9;
            --link-hover-color: #85C7E8;
            bottom: 160%;
            display: flex;
            padding: 5px;
            font-size: 0.85rem;
            min-width: 150px;

            & > p a {
                color: #064e79;
                text-decoration: underline;
                cursor: pointer;
            }

            .link-button {
                display: flex;
                justify-content: center;
                text-decoration: none;
                margin-top: 5px;
                padding: 3px 0;
                background-color: rgba(0,0,0,0.3);
                border-radius: 5px;
                color: var(--link-color);

                &:hover {
                    background-color: rgba(0,0,0,0.4);
                    color: var(--link-hover-color);
                    cursor: pointer;

                    svg {
                        color: var(--link-hover-color);
                    }
                }

                svg {
                    color: var(--link-color);
                    margin-top: 2px;
                }
            }
        }

        .info-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -10%;
            top: -10%;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 100%;
            background-color: #e9e9ed;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

            b { font-size: 0.75rem }

            &:hover {
                background-color: lightgreen;  // temporary

                .info-tooltip {
                    opacity: 1;
                    visibility: visible;
                    // Delay for opacity just on hover for a suttle effect
                    transition-delay: 400ms;
                    transition-property: opacity;
                }
            }
        }
    }
</style>
