---
import { Icon } from "astro-icon/components";

const socials = [
    {platform: "bluesky", link: "#", color: "#0285FF"},
    {platform: "twitter", link: "#", color: "#000000"},
    {platform: "iceshrimp", link: "#", color: "#9A92FF"},
    {platform: "telegram", link: "#", color: "#26A5E4"},
    {platform: "matrix", link: "#", color: "#000000"},
    {platform: "liberapay", link: "#", color: "#F6C915"},
    {platform: "instagram", link: "#", color: "#E4405F"},
    {platform: "codeberg", link: "#", color: "#2185D0"},
    {platform: "github", link: "#", color: "#181717"},
    {platform: "gitlab", link: "#", color: "#FC6D26"}
]
---

<div class="socialsContainer">
{socials.map((item) => (
    <form target="_blank">
        <button formaction={item.link}
                class={"icon-" + item.platform}
                style={"--hover-color:" + item.color}
        >
            <Icon name={item.platform} size={30} />
            <span class="tooltip">{item.platform}</span>
            {item.platform == "iceshrimp" && <span class="info-icon">
                <b>i</b>
                <span class="info-tooltip">Fediverse instance</span>
            </span>}
        </button>
    </form>
))}
</div>

<style lang="scss">
    svg { color: black }

    .socialsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        button {
            position: relative;
            border-style: none;
            padding: 10px;
            width: 50px;
            aspect-ratio: 1;
            border-radius: 0.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 150ms;

            &:hover {
                background-color: var(--hover-color);

                .tooltip {
                    opacity: 1;
                    visibility: visible;
                    // Delay for opacity just on hover for a suttle effect
                    transition-delay: 400ms;
                    transition-property: opacity;
                }
            }
        }

        .tooltip, .info-tooltip {
            transition-duration: 150ms;
            opacity: 0;
            visibility: hidden;
            background-color: var(--hover-color);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            padding: 5px 12px;

            position: absolute;
            bottom: 130%;
            z-index: 1;

            // Arrow
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: var(--hover-color) transparent transparent transparent;
            }
        }

        .info-icon {
            position: absolute;
            right: -10%;
            top: -10%;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 100%;
            background-color: #e9e9ed;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            font-size: 0.75rem;

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: lightgreen;  // temporary

                .info-tooltip {
                    opacity: 1;
                    visibility: visible;
                    // Delay for opacity just on hover for a suttle effect
                    transition-delay: 400ms;
                    transition-property: opacity;
                }
            }
        }

        // For better contrast between hover-color and text color
        .icon-iceshrimp, .icon-liberapay, .icon-gitlab, .icon-telegram {
            .tooltip { color: #000 }
        }

        .icon-twitter, .icon-matrix, .icon-github {
            &:hover svg { color: white }
        }
    }
</style>
