---
import { Icon } from "astro-icon/components";
---

<div>
    <span>
        <p>website currently under construction, more to come.</p>
        &nbsp;
        <a href="https://codeberg.org/y0nei/portfolio" target="_blank">
            contribute&nbsp;
            <Icon name="external-link" size={13}/>
        </a>
    </span>
</div>

<style lang="scss">
    div {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        border: 1px var(--background-color-alt) solid;
        border-top: none;
        padding: 0 3px 3px 3px;
        background: repeating-linear-gradient(
          -45deg,
          #f2a417,
          #f2a417 15px,
          #141617 15px,
          #141617 30px
        );
        animation: scrolling-gradient 1s linear infinite;
        background-size: 40px 40px;

        span {
            color: white;
            display: flex;
            font-family: sans-serif;
            font-size: 0.8rem;
            border-radius: inherit;
            background-color: var(--background-color-alt);
            padding: 0 7px;
            padding-bottom: 3px;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--secondary-color);
            }
        }
    }

    @keyframes scrolling-gradient {
        0% { background-position: 0 }
        100% { background-position: 40px }
    }
</style>
