@font-face {
    font-family: "Rubik";
    src: url("./Rubik-VariableFont_wght.ttf") format("truetype");
}

:root {
    --offwhite-color: #F4F1F8; /* Lavender */
    --background-color: #242424;
    --text-color: var(--offwhite-color);
    --accent-color: #A8DF8E;
    --warning-bg: #ffe69c; /* Bootstrap yellow 200 */
    --warning-fg: #332701; /* Bootstrap yellow 900 */
    --info-bg: #9ec5fe; /* Bootrstrap blue 200 */
    --info-fg: #031633; /* Bootrstrap blue 900 */

    --slideDown-end-position: 20%;
}

/* Reset annoying styles */
p, h1, body { margin: 0 }

body {
    justify-content: center;
    align-items: center;
}
body, canvas {
    background-color: var(--background-color);
}
.flex, body {
    display: flex;
}
.hidden {
    display: none;
}

/* Header */
header {
    color: var(--text-color);
    font-family: "Rubik";

    position: absolute;
    flex-direction: column;
    align-items: center;
    top: var(--slideDown-end-position);
    animation: slideDown 3s;
}
header * {
    font-size: 4rem;
}

#header-title h1 {
    font-weight: 900;
    background: linear-gradient(
        -135deg,
        #ffffff 0%,
        #ffffff 45%,
        #424242 49%,
        #424242 50%,
        var(--accent-color) 50%,
        var(--accent-color) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titleGradient 5s;
    background-size: 210% 100%;
}
#header-title p { font-weight: 400 }

#header-desc {
    font-style: italic;
    font-size: 1.25rem;
    animation: descSlideDown 6s;
    opacity: 0.7;
}


.modal {
    /* border: 1px solid blue; */
    flex-direction: row;
    position: absolute;
    align-items: center;
    top: 5%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%);
    animation: notification-reveal 1.5s;
}

/* Notification colors */
.info-modal #overflow-container,
.info-modal .ti {
    background-color: var(--info-bg);
    color: var(--info-fg);
}
.warning-modal #overflow-container,
.warning-modal .ti {
    background-color: var(--warning-bg);
    color: var(--warning-fg);
}

#notification-content {
    overflow: hidden; /* Without this effect wont work */
    animation: text-slide 2.5s;
}
#overflow-container {
    display: block;
    position: relative;
    animation: container-slide 2.5s;
    word-break: break-all;

    padding: 0.5rem;
    font-family: 'Rubik';
    font-size: 1.15rem;
    border-radius: .5rem;
    margin-left: 0.5rem;
}

.modal .ti {
    display: flex;
    align-self: center;
    font-size: 1.75rem;
    position: relative;
    left: 0%;
    animation: icon-slide 2.5s;

    border-radius: .5rem;
    z-index: 1;
}
.ti::before {
    padding: 0.25rem;
}

#scroll-wrapper {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 0;
    writing-mode: vertical-lr;
}
#scroll-title {
    display: block;
    text-transform: uppercase;
    color: var(--text-color);
    font-family: "Rubik";
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    text-orientation: mixed;
}
#scroll-bar {
    align-self: center;
    margin-top: 0.4rem;
}
#scroll-bar::before {
    --bar-width: 3px;
    content: " ";
    display: block;
    position: relative;
    width: var(--bar-width);
    height: 100px;
    background: var(--text-color);
    animation: scrollDown 2s ease infinite;
    margin-left: var(--bar-width);
}

@keyframes scrollDown {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    45% {
        transform-origin: top;
        transform: scaleY(1);
    }
    55% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

@keyframes notification-reveal {
    0% { top: -3rem }
    75%, 100% { top: 5% }
}
/* Slide from left edge */
@keyframes container-slide {
    0%, 50% { left: 100% }
    100% { left: 0 }
}
@keyframes text-slide {
    0%, 50% {
        left: -50%;
        transform: translate(-50%);
    }
    100% { left: 0% }
}
@keyframes icon-slide {
    0%, 50% {
        left: 50%;
        transform: translate(-50%);
    }
    100% { left: 0 }
}
@keyframes scroll-hint-animation {
    60% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translateY(14px);
    }
}

/* Keyframes */
@keyframes titleGradient {
    0% { background-size: 100% 700%; }
    50% { background-size: 100% 700%; }
    100% { background-size: 210% 100%; }
}
@keyframes slideDown {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% { top: var(--slideDown-end-position) }
}
@keyframes descSlideDown {
    0% {
        margin-top: -20px;
        opacity: 0;
    }
    70% {
        margin-top: -20px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 0.7;
    }
}

/* /\* *Responsiveness *\/ */
/* @media only screen and (max-width: 1500px) { */
/*     button a { font-size: 1em; } */
/*     header * { font-size: 3rem; } */
/*     p#header-desc { font-size: 1rem; } */
/* } */
/* @media only screen and (max-width: 600px) { */
/*     header * { font-size: 2rem; } */
/* } */
